aside {
    flex: 30%;
    background-color: $primary-color ;
    padding: 20px;
     h2 {
        color: white;
        font-family: 'Montserrat', sans-serif;
    }
    .video-link img {
        width: 100%;
        height: 60px;
        margin-bottom: 10px;
        object-fit: cover;
    }
    .video-link h4 {
        opacity: 0;
        position: absolute;
        color: white;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 10px;
        border-radius: 10px;
        margin-left: 5px;
        margin-top: 10px;
    }
    .video-link:hover h4 {
        opacity: 1;
    }
}
