$primary-color: rgb(6, 92, 92);
$primary-color-dark: rgb(26, 185, 137);
$secundary-color: rgb(85, 79, 61);
$secundary-color-dark:rgb(24, 21, 13);
$color-dorado:rgb(212, 157, 3);
$color-main:rgba(8, 27, 53, 0.8);


